<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Scans</title>
</head>
<body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <div th:switch="${scans}">
        <h2 th:case="null">No users found!</h2>
        <div th:case="*">
            <h2>Scans</h2>
            <table>
                <thead>
                <tr>
                    <th>name</th>
                    <th>megapix</th>
                    <th>prise</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="scan : ${scans}">
                    <td th:text="${scan.scan_machine}"></td>
                    <td th:text="${scan.megapixels}"></td>
                    <td th:text="${scan.prise}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
